.novedad {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.holder h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.novedad-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.novedad-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Agrega una clase para el estado expandido de la imagen */
.novedad-item img.expanded {
    width: 100%; /* Establece el ancho al 100% para expandir la imagen */
    height: auto;
    cursor: zoom-out; /* Cambia el cursor al hacer clic para indicar que se puede reducir */
}

/* Resto del código CSS ... */


.novedad-item h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
}

.novedad-item p {
    color: #777;
    font-size: 14px;
}