body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #fcf5ed;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #748e63;
  color: #a8ce7d;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

footer {
  background-color: #748e63;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}